{% extends 'base.html'  %}
{% block title %} The Cook's Nook {% endblock %}

{% block content %}

<div class="container-fluid mx-0 p-0">
    <div class="container-fluid favorites-form-box position-fixed">
        <form id="favorites-search-form" action="" class="mt-5 searchbar">
            <input type="text" class="form-control mb-2" id="favorites-search-input" name="favorites-search-input" placeholder="Search Favorites" required>
            
        </form>
       
    </div>
    <div class="row px-3 overflow-scroll m-0" id="favorites">
        {% for f in favorites %}
             <div class="col-3 res-cols">
                <div class="card fav-card">
            
                <a href="{{f.url}}" class="d-flex justify-content-center">
                <img class="result-img card-img-top img-fluid" src="{{f.image_url}}" alt="{{f.name}} photo">
                </a>
           
                <div class="container-fluid px-0">
                <div class="card-body mt-0">
                <h5 class="card-title text-light text-center">{{f.name}}</h5>
                
                <a href="{{f.url}}" class="btn btn-sm text-light recipe-btn mb-2">View Recipe</a>
                <form action="/favorites/remove" method="POST">
                    <input class="delete-favorite-input" name="remove-favorite-input" value="{{f.uri}}" hidden>
                    <button class="btn btn-sm text-light remove-btn mb-2" type="submit">Remove Recipe <i class="fas fa-trash"></i></button>
                </form>
                
                </div>
                </div>
               </div>
            </div>
             {% endfor %}
        </div>
    
</div>

{% endblock %}