{% extends 'base.html'  %}
{% block title %} The Cook's Nook - {{my_recipe.name}} {% endblock %}

{% block content %}

<div class="wrapper overflow-scroll">
    <img class="full-recipe-img img-fluid" src="{{my_recipe.image_url}}" alt="">
 
  <div class="full-recipe-title">
    <h5 class="text-light full-recipe-title d-inline">{{my_recipe.name}}</h5>
    <div class="container full-recipe-cook-time-servings mt-4">
      
    </div>
  </div>

  <div class="full-recipe-btn">
    <a href="/my_recipes/{{my_recipe.uri}}/edit" class="btn btn-sm edit-btn text-light mt-0 d-inline text-center float-end rounded-circle"><i class="fas fa-pencil-alt"></i></a>
  </div>


  <div class="full-recipe-instructions">
    <h6 class="mt-2 text-light text-center">Directions</h6>
    <ol>
      {% for s in steps%}
      <li class="text-light">{{s}}</li>
      {% endfor %}
  </ol>
  </div>
 

  <div class="full-recipe-ingredients">
    <h6 class="mt-2 text-light">Ingredients</h6>
    
      <ul class="">
          {% for i in ingredients_list%}
          <li class="text-light">{{i}}</li>
          {% endfor %}
      </ul>
      
  </div>
  
  <div class="container scroll-sign"><i class="far fa-hand-pointer text-light"></i></div>


</div>     

  
   
{% endblock %}