{% extends 'base.html'  %}
{% block title %} The Cook's Nook {% endblock %}

{% block content %}
<input id="curr_user" hidden value="{{curr_user}}">
<div class="container-fluid pb-5">
    <div class="container form-box">
    <form action="" class="mt-5 searchbar">
        <label class="d-block form-label" for="search-input"><h1 class="text-light">Search Recipes</h1></label>
        <input type="text" class="form-control mb-2" id="search-input" name="search-input" required>
        <button type="submit" class="btn search-btn text-light">Search</button>
        
    </form>
   
    </div>
    
    <div class="row" id="search-results">
        
        <button class="btn text-light more-btn position-absolute bottom-0">Show More</button>
       
    </div>
    
    
</div>

    

  
   
{% endblock %}