{% extends 'base.html'  %}
{% block title %} The Cook's Nook - My Recipes{% endblock %}

{% block content %}
<input id="curr_user" hidden value="{{curr_user}}">

<div class="container-fluid mx-0 p-0">
    <div class="container-fluid own-form-box fixed-top">
    <form id="own-search-form" action="" class="mt-5 searchbar">
        <input type="text" class="form-control mb-2" id="own-search-input" name="search-input" placeholder="Search Own Recipes" required>
        
    </form>
   
    </div>
    
    <div class="row overflow-scroll container-fluid m-0" id="own-recipes">
        {% for r in my_recipes %}
        <div class="col-3 res-cols">
            <div class="card own-card container-fluid">
            <a href="/my_recipes/{{r.uri}}" class="d-flex justify-content-center">
            <img class="own-result-img card-img-top img-fluid" src="{{r.image_url}}" alt="{{r.name}} photo">
            </a>
            <div class="container-fluid h-50 px-0">
            <div class="card-body own-card-body">
            <h5 class="card-title text-light mt-1 text-center">{{r.name}}</h5>
            <a href="/my_recipes/{{r.uri}}" class="btn btn-sm text-light recipe-btn mb-2">View Recipe</a>
            <form action="/my_recipes/delete" method="POST">
                <input class="delete-my-recipe-input" name="delete-my-recipe-input" value="{{r.uri}}" hidden>
                <button class="btn btn-sm text-light remove-btn mb-2" type="submit">Delete Recipe <i class="fas fa-trash"></i></button>
            </form>
            </div>
            </div>
           </div>
        </div>
        {% endfor %}
    </div>
    
    
</div>

    

  
   
{% endblock %}